<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Soloist blog{% endblock %}</title>
</head>
<body>
    {% block blog_content %}{% endblock%}
</body>
</html>
