{% extends 'SoloistBlogBundle:Default:base.html.twig' %}

{% block blog_content %}
    {% for post in posts %}
    <div id="blog-post">
        {% include 'SoloistBlogBundle:Default:post.html.twig' %}
    </div>
    {% endfor %}
{% endblock %}
